@font-face {
  font-family: OptimaModoki;
  src: url("/10.Rose/font/@font-face/0a9a7c51c594b8c8ce8d4a56d599d9ab.woff2");
}
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
  font-family: OptimaModoki, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  position: relative;
}
.container .goTop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 60px;
  right: 60px;
  width: 50px;
  height: 50px;
  background: rgba(148, 174, 199, 0.48);
  border-radius: 5px;
  z-index: 1;
  cursor: pointer;
}
.container .goTop a i {
  font-size: 2.5rem;
  color: #000;
}
.container .goTop:hover {
  background-color: rgba(1, 43, 85, 0.25);
}

.siteContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0 4% 0 4%;
}
.siteContainer .navbar_ {
  display: none;
}
.siteContainer .left_ {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  margin-right: 5%;
}
.siteContainer .left_ .title_ {
  padding: 40px 0 50px 0;
}
.siteContainer .left_ .title_ span {
  color: #012B55;
  font-size: 2.6rem;
  font-weight: bold;
}
.siteContainer .left_ .list_ {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 16px;
}
.siteContainer .left_ .list_ li {
  margin-bottom: 10px;
  font-size: 1.6rem;
  cursor: pointer;
  color: #41576D;
  list-style: none;
}
.siteContainer .left_ .list_ li:first-child {
  color: #012B55;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.7rem;
}
.siteContainer .left_ .contact_ {
  margin-bottom: 25px;
}
.siteContainer .left_ .contact_ span {
  color: #012B55;
  font-size: 1.7rem;
  font-weight: bold;
}
.siteContainer .left_ .social_ {
  display: flex;
  align-items: center;
  justify-content: center;
}
.siteContainer .left_ .social_ span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(1, 43, 85, 0.1);
  cursor: pointer;
  transition: 0.2s ease;
}
.siteContainer .left_ .social_ span:hover {
  background-color: rgba(1, 43, 85, 0.2);
}
.siteContainer .left_ .social_ span i {
  font-size: 1.5rem;
}
.siteContainer .right_ {
  width: 75%;
}
.siteContainer .right_ .topHead {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F7F8F9;
  padding: 110px 12% 90px 12%;
  text-align: center;
}
.siteContainer .right_ .topHead p {
  font-size: 2.8rem;
  margin-bottom: 30px;
  color: rgb(1, 43, 85);
  font-weight: bold;
}
.siteContainer .right_ .topHead span {
  color: #597188;
  font-size: 1.8rem;
  font-weight: bold;
}
.siteContainer .right_ .pic_ {
  display: flex;
  flex-wrap: wrap;
}
.siteContainer .right_ .pic_ .picEach {
  width: 49.75%;
  margin-right: 0.5%;
  margin-top: 0.5%;
  position: relative;
  cursor: pointer;
}
.siteContainer .right_ .pic_ .picEach img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.siteContainer .right_ .pic_ .picEach .cover_ {
  position: absolute;
  background-color: rgb(1, 43, 85);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.2s ease;
}
.siteContainer .right_ .pic_ .picEach .detail_ {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.2s ease;
}
.siteContainer .right_ .pic_ .picEach .detail_ span {
  color: #fff;
  font-size: 2.6rem;
}
.siteContainer .right_ .pic_ .picEach .detail_ span:first-child {
  font-size: 1.6rem;
  font-style: italic;
}
.siteContainer .right_ .pic_ .picEach:nth-child(2n) {
  margin-right: 0;
}
.siteContainer .right_ .pic_ .picEach:hover .cover_ {
  opacity: 0.85;
}
.siteContainer .right_ .pic_ .picEach:hover .detail_ {
  display: flex;
}
.siteContainer .right_ .footer_ {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.siteContainer .right_ .footer_ .socialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
}
.siteContainer .right_ .footer_ .socialMedia span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(1, 43, 85, 0.1);
  cursor: pointer;
  transition: 0.2s ease;
}
.siteContainer .right_ .footer_ .socialMedia span:hover {
  background-color: rgba(1, 43, 85, 0.2);
}
.siteContainer .right_ .footer_ .socialMedia span i {
  font-size: 1.5rem;
}
.siteContainer .right_ .footer_ span {
  margin-top: 20px;
  color: rgb(89, 113, 136);
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .container .goTop {
    display: none;
  }
  .siteContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }
  .siteContainer .navbar_ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px 5%;
  }
  .siteContainer .navbar_ .title_ span {
    color: #012B55;
    font-size: 2.6rem;
    font-weight: bold;
  }
  .siteContainer .navbar_ .navMenu {
    position: fixed;
    left: -100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    z-index: 2;
  }
  .siteContainer .navbar_ .navMenu .close_ {
    position: absolute;
    top: 5%;
    right: 10%;
  }
  .siteContainer .navbar_ .navMenu .close_ i {
    color: #012B55;
    font-size: 3rem;
  }
  .siteContainer .navbar_ .navMenu .menu_ .list_ ul li {
    padding: 0 0 30px;
    color: #41576D;
    font-size: 2.2rem;
    list-style: none;
  }
  .siteContainer .navbar_ .navMenu .menu_ .list_ ul li:first-child {
    font-weight: bold;
    color: #012B55;
  }
  .siteContainer .navbar_ .navMenu .menu_ .contact_ {
    padding: 0 0 30px;
  }
  .siteContainer .navbar_ .navMenu .menu_ .contact_ span {
    font-size: 2.2rem;
    font-weight: bold;
    color: #012B55;
  }
  .siteContainer .navbar_ .navMenu .menu_ .social_ {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    padding: 5%;
    width: 100%;
    bottom: 0;
    left: -100%;
    background: #fff;
    transition: 0.3s;
  }
  .siteContainer .navbar_ .navMenu .menu_ .social_ span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 27.5px;
    margin-right: 20px;
    height: 55px;
    width: 55px;
    background-color: #E5E9EE;
  }
  .siteContainer .navbar_ .navMenu .menu_ .social_ span i {
    font-size: 1.8rem;
    color: #012B55;
  }
  .siteContainer .navbar_ .navMenu .menu_ .social_ span:last-child {
    margin: 0;
  }
  .siteContainer .navbar_ .navMenu .menu_ .social_.active {
    left: 0;
  }
  .siteContainer .navbar_ .navMenu.active {
    left: 0;
  }
  .siteContainer .navbar_ .burger_ {
    cursor: pointer;
  }
  .siteContainer .navbar_ .burger_ i {
    font-size: 3rem;
    color: #012B55;
  }
  .siteContainer .left_ {
    display: none;
  }
  .siteContainer .right_ {
    width: 100%;
  }
  .siteContainer .right_ .topHead {
    margin-bottom: 0;
    padding-bottom: 38px;
    padding-top: 44px;
  }
  .siteContainer .right_ .topHead p {
    font-size: 1.7rem;
    margin-bottom: 8px;
    margin-top: 0;
  }
  .siteContainer .right_ .topHead span {
    font-size: 1.4rem;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 14px;
  }
  .siteContainer .right_ .pic_ .picEach {
    width: 100%;
    margin-right: 0;
  }
  .siteContainer .right_ .footer_ {
    padding: 10px 5% 10px 5%;
  }
}
@media (max-width: 480px) {
  .siteContainer .navbar_ .title_ span {
    font-size: 2.2rem;
  }
  .siteContainer .right_ .topHead {
    padding: 50px 40px 70px 40px;
  }
  .siteContainer .right_ .topHead p {
    font-size: 1.7rem;
    margin-bottom: 7px;
    margin-top: 0;
  }
  .siteContainer .right_ .topHead span {
    font-size: 1.4rem;
    margin-bottom: 0;
    margin-top: 13px;
  }
}

/*# sourceMappingURL=style.css.map */
